extends layout

block content
    div.content
        h2= nazwa
        h3= miejsce
        h4= opis

        div#calendar(data-przedmiot-id=pi)
            h3 Dokonaj rezerwacji przedmiotu:
            select#yearSelect
                option(value="2024" selected) 2024
                option(value="2025") 2025
                option(value="2026") 2026

            select#monthSelect
                option(value="01") Styczeń
                option(value="02") Luty
                option(value="03") Marzec
                option(value="04") Kwiecień
                option(value="05") Maj
                option(value="06") Czerwiec
                option(value="07") Lipiec
                option(value="08") Sierpień
                option(value="09") Wrzesień
                option(value="10") Październik
                option(value="11") Listopad
                option(value="12") Grudzień

            select#daySelect

        div#daneUzytkownika
            label(for="firstName") Imię:
            input#firstName(type="text" name="firstName")
            br
            label(for="lastName") Nazwisko:
            input#lastName(type="text" name="lastName")

        div#rezerwacja
            p#rezerwacjaInfo
            button#rezerwacjaButton Zarezerwuj

            script.
                const rezerwacjaButton = document.getElementById('rezerwacjaButton');
                const przedmiotId = document.getElementById('calendar').dataset.przedmiotId;
                const monthSelect = document.getElementById('monthSelect');
                const daySelect = document.getElementById('daySelect');
                const yearSelect = document.getElementById('yearSelect');
                const rezerwacjaInfo = document.getElementById('rezerwacjaInfo');

                const daysInMonth = {
                    "01": 31, "02": 28, "03": 31, "04": 30, "05": 31, "06": 30,
                    "07": 31, "08": 31, "09": 30, "10": 31, "11": 30, "12": 31
                };

                const generateDayOptions = () => {
                    const selectedMonth = monthSelect.value;
                    const daysCount = daysInMonth[selectedMonth];

                    daySelect.innerHTML = '';
                    for (let i = 1; i <= daysCount; i++) {
                        const dayValue = i < 10 ? `0${i}` : `${i}`;
                        const option = document.createElement('option');
                        option.value = dayValue;
                        option.textContent = dayValue;
                        daySelect.appendChild(option);
                    }
                };

                const checkReservationsForMonth = () => {
                    const selectedYear = yearSelect.value;
                    const selectedMonth = monthSelect.value;
                    let firstAvailableDay = null;
                    let isAnyDayAvailable = false;

                    for (let i = 1; i <= 31; i++) {
                        if (i < 10) {
                            i = `0${i}`;
                        }
                        const selectedDate = `${selectedYear}-${selectedMonth}-${i}`;

                        fetch(`/przedmioty/${przedmiotId}/${selectedDate}`)
                            .then(response => response.json())
                            .then(reservations => {
                                const option = daySelect.querySelector(`option[value="${i}"]`);

                                if (!option) return; // Sprawdź czy opcja istnieje

                                if (!reservations['isReserved'] && firstAvailableDay === null) {
                                    firstAvailableDay = i;
                                }
                                if (reservations['isReserved']) {
                                    option.classList.add('option-disabled');
                                    option.disabled = true;
                                } else {
                                    option.classList.add('option-available');
                                    option.disabled = false;
                                    isAnyDayAvailable = true;
                                }

                                if (!isAnyDayAvailable) {
                                    daySelect.selectedIndex = -1;
                                } else if (firstAvailableDay !== null) {
                                    daySelect.value = firstAvailableDay;
                                }
                            })
                            .catch(err => console.error('Błąd pobierania rezerwacji:', err));
                    }
                };

                // Dodaj nasłuchiwanie zmiany roku i miesiąca
                yearSelect.addEventListener('change', () => {
                    generateDayOptions();
                    checkReservationsForMonth();
                });

                monthSelect.addEventListener('change', () => {
                    generateDayOptions();
                    checkReservationsForMonth();
                });

                const redirectToReservation = () => {
                    const imie = document.getElementById('firstName').value;
                    const nazwisko = document.getElementById('lastName').value;
                    if (daySelect.selectedIndex == -1 || imie.length == 0 || nazwisko.length == 0) {
                        rezerwacjaInfo.textContent = 'Uzupełnij brakujące informacje!';
                        console.log(daySelect.selectedIndex);
                        console.log(imie);
                        console.log(nazwisko);
                    } else {
                        const selectedYear = yearSelect.value;
                        const selectedMonth = monthSelect.value;
                        const selectedDay = daySelect.value;
                        const reservationDate = `${selectedYear}-${selectedMonth}-${selectedDay}`;
                        const start = reservationDate;
                        const stop = reservationDate;

                        // Wyślij żądanie POST, aby dokonać rezerwacji
                        fetch(`/przedmioty/${przedmiotId}/rezerwacja`, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({imie, nazwisko, start, stop})
                        })
                            .then(response => response.json())
                            .then(data => {
                                // Sprawdź czy otrzymano numer ID rezerwacji
                                if (data.rezerwacjaId) {
                                    rezerwacjaInfo.textContent = `Udało się zarezerwować! ID rezerwacji: ${data.rezerwacjaId}`;
                                } else {
                                    rezerwacjaInfo.textContent = 'Wystąpił błąd podczas rezerwacji.';
                                }
                            })
                            .catch(err => {
                                console.error('Błąd podczas dokonywania rezerwacji:', err);
                                rezerwacjaInfo.textContent = 'Wystąpił błąd podczas rezerwacji.';
                            });
                    }
                    checkReservationsForMonth();
                };

                rezerwacjaButton.addEventListener('click', redirectToReservation);

                generateDayOptions();
                checkReservationsForMonth();
